<mat-drawer-container class="dashboard-container">
  <mat-drawer mode="side" opened color="primary" class="sidenav">
    <div class="header">
      <img class="logo" src="images-removebg-preview.png" alt="" />
      <h1>Illapa</h1>
    </div>
    <div class="content">
      <ul class="list-content">
        <li>
          <button matButton="text" class="list-button">
            <mat-icon>home</mat-icon>
            Inicio
        </button>
        </li>
        <li>
          <button matButton="text" class="list-button">
            <mat-icon>analytics</mat-icon>
            Estadísticas
        </button>
        </li>
        <li>
          <button matButton="text" class="list-button">
            <mat-icon>exit_to_app</mat-icon>
            Salir
        </button>
        </li>
      </ul>
    </div>
  </mat-drawer>
  <div class="content-container">
    
  </div>
</mat-drawer-container>
